<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head_layout :: header"></head>
<nav th:replace="fragments/nav_layout :: navbar"></nav>

<body>

<div class="container col-sm-3">

    <form th:action="@{/login}" method="post" class="form-signin">

        <h3 class="text-center">Login form</h3>
        <!--Filed for userName -->
        <div class="form-label-group m-3">
            <input type="text" name="username" id="username" class="form-control fadeIn second"/>
        </div>

        <!--Filed for password -->
        <div class="form-label-group m-3">
            <input type="password" name="password" id="password" class="form-control fadeIn second"/>
        </div>

        <div class="form-label-group m-3">
            <button type="submit" class="btn btn-primary btn-block fadeIn fourth">Log in</button>
        </div>

        <p class="text-center">
            Click <a th:href="@{/register}">here</a> to register.
        </p>
    </form>
</div>
</body>
</html>