<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head_layout :: header"></head>

<div th:fragment="description-login">
    <p>If you want to explore all CRUD actions you have to login with this credentials:</p>
    <p>Login: admin</p>
    <p>Password: admin</p>
    <p>or you can register you own user and use only allowed functionality.</p>
    </p>
</div>

<div th:fragment="description-register">
    <p>Here you can register you own user with "ROLE_USER" only.</p>
    <p>But if you want to change role of you own user you can log in as admin and change your recently created user
        "ROLE_USER" to "ROLE_ADMIN" in admin section</p>
</div>
</html>