<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<footer th:fragment="footer" class="footer fixed-bottom bg-dark">

    <div class="container-fluid">
        <div class="row">
            <div class="text-white col d-flex justify-content-start">
                <section>
                    <a class="text-light btn btn-link btn-floating btn-lg social-icon" target="_blank"
                       href="https://www.linkedin.com/in/kostyafrom"><i class="fab fa-linkedin-in"></i></a>
                    <a class="text-light btn btn-link btn-floating btn-lg social-icon" target="_blank"
                       href="https://github.com/kostyaFrom?tab=repositories"><i class="fab fa-github"></i></a>
                    <a class="text-light btn btn-link btn-floating btn-lg social-icon" target="_blank"
                       href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                </section>
            </div>

            <div class="text-white col d-flex justify-content-end align-items-center">
                <div>
                    <a class="text-light btn btn-link" target="_blank"
                       href="https://konstantin-java-resume.herokuapp.com"><p>Developed by: Bulygin Konstantin</p></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>