<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head_layout :: header"></head>
<nav th:replace="fragments/nav_layout :: navbar"></nav>

<body>

<div class="container mt-2">

    <h3>Current employees</h3>
    <hr>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">Add new
        employee</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Emails</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aEmployee : ${employeesList}">
            <td th:text="${aEmployee.firstName}"></td>
            <td th:text="${aEmployee.lastName}"></td>
            <td th:text="${aEmployee.email}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/employees/edit/' + ${aEmployee.employeeId}}" class="btn btn-info btn-sm">Edit</a>
                <a th:href="@{'/employees/delete/' + ${aEmployee.employeeId}}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>