<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head_layout :: header"></head>

<body>

<nav th:replace="fragments/nav_layout :: navbar"></nav>


<div class="container mt-2">
    <h3>Project directory</h3>
    <hr>

    <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">Add new project</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectsList}">
            <td th:text="${aProject.name}"></td>
            <td th:text="${aProject.stage}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>