<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head_layout :: header"></head>
<nav th:replace="fragments/nav_layout :: navbar"></nav>

<body>


<div class="container mt-5">

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

    <form th:action="@{/projects/save}" th:object="${project}" method="POST">

        <!--this will be used to bind to edit existing project-->
        <input type="hidden" th:field="${project.projectId}">

        <!--Project name field-->
        <div class="form-group row">
            <input type="text" placeholder="Project Name" th:field="*{name}">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="${project.name}"></span>
        </div>

        <!--Project stage field-->
        <div class="form-group row">
            <select th:field="${project.stage}">
                <option th:value="NOTSTARTED"> Not Started</option>
                <option th:value="INPROGRESS"> In Progress</option>
                <option th:value="COMPLETED"> Completed</option>
            </select>
        </div>

        <!--List of employee-->
        <div class="form-group row">
            <select th:field="*{employees}" multiple="multiple">
                <option th:each="employee: ${allEmployees}" th:value="${employee.employeeId}"
                        th:text="${employee.firstName}"></option>
            </select>
        </div>

        <div class="form-group row">
            <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="${project.description}"></span>
        </div>

        <h4>Project start date</h4>
        <div class="form-group row">
            <input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Start date" th:field="${project.startDate}"/>
            <span th:if="${#fields.hasErrors('startDate')}" th:errors="${project.startDate}"></span>
        </div>

        <h4>Project end date</h4>
        <div class="form-group row">

            <input id="dp4" type="text" class="mb-4 col-2 col-xs-4" value="End date" th:field="${project.endDate}"/>
            <span th:if="${#fields.hasErrors('endDate')}" th:errors="${project.endDate}"></span>
        </div>

        <script type="text/javascript">
            $('#dp3').datepicker();
            $('#dp4').datepicker();
        </script>


        <button type="submit" class="btn btn-info col-2">Enter Project</button>

    </form>
</div>

</body>
</html>